<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/assets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <%- include('partials/nav.ejs'); %>
    <h1>Contact Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quia sit illum, non numquam delectus molestiae atque, omnis beatae maiores modi dicta, ab 
        fugiat neque temporibus suscipit. Modi, excepturi vitae?</p>
    <p><%= qs.dept %></p>
    <p><%= qs.person %></p>

    <form action="/contact" method="POST" id="contact-form">
        <label for="who">Who do you want to contact?</label>
        <input type="text" id="who" name="who" value="<%= qs.person %>" />

        <label for="dept">Which department?</label>
        <input type="text" id="dept" name="dept" value="<%= qs.dept %>" />

        <label for="email">Your email</label>
        <input type="text" id="email" name="email"/>
        <input type="submit" value="submit" />
    </form>
    
</body>
</html>